<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = 'https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v3.1&appId=240666949717615&autoLogAppEvents=1';
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->

<!-- header_menu.js -->
<script>
let Header_menu_icon = document.querySelector('.Header-bh-row-menu-icon')
let Header_menu_nav = document.querySelector('.Nav-bh-container')
//Home
let Home_icon = document.querySelector('.Nav-bh-container-icon-home')
let Home_menu = document.querySelector('.Nav-bh-container-home-menu-home')
//We
let We_icon = document.querySelector('.Nav-bh-container-icon-we')
let We_menu = document.querySelector('.Nav-bh-container-we-menu-we')
//News
let News_icon = document.querySelector('.Nav-bh-container-icon-news')
let News_menu = document.querySelector('.Nav-bh-container-news-menu-news')
//Project
let Project_icon = document.querySelector('.Nav-bh-container-icon-project')
let Project_menu = document.querySelector('.Nav-bh-container-project-menu-project')
//Get Support
let Getsupport_icon = document.querySelector('.Nav-bh-container-icon-getsup')
let Getsupport_menu = document.querySelector('.Nav-bh-container-getsup-menu-getsup')
//Support
let Support_icon = document.querySelector('.Nav-bh-container-icon-support')
let Support_menu = document.querySelector('.Nav-bh-container-support-menu-support')
//Lan
let Lang_icon = document.querySelector('.Nav-bh-container-icon-lang')
let Lang_menu = document.querySelector('.Nav-bh-container-lang-menu-lang')
//Home Desktop
let Homedesktop_menu = document.querySelector('.Header-bh-menu-desktop-home')
let homedesktop_submenu = document.querySelector('.Header-bh-row-desktop-menu-submenu-home')



Header_menu_icon.addEventListener('click', ()=>{
        Header_menu_nav.classList.toggle('Nav-bh-container-on')
} )

Home_icon.addEventListener('click', ()=>{
        Home_menu.classList.toggle('Nav-bh-container-home-menu-home-on')
})
We_icon.addEventListener('click', ()=>{
   We_menu.classList.toggle('Nav-bh-container-we-menu-we-on')
})
News_icon.addEventListener('click', ()=>{
    News_menu.classList.toggle('Nav-bh-container-news-menu-news-on')
})
Project_icon.addEventListener('click', ()=>{
    Project_menu.classList.toggle('Nav-bh-container-project-menu-project-on')
})
Getsupport_icon.addEventListener('click', ()=>{
    Getsupport_menu.classList.toggle('Nav-bh-container-getsup-menu-getsup-on')
})
Support_icon.addEventListener('click', ()=>{
    Support_menu.classList.toggle('Nav-bh-container-support-menu-support-on')
})
Lang_icon.addEventListener('click', ()=>{
    Lang_menu.classList.toggle('Nav-bh-container-lang-menu-lang-on')
})
</script>

<!-- header_desktop.js -->

<script>
$(".Header-bh-menu-desktop-menu-lang").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-lang").toggle();
});
$(".Header-bh-row-desktop-menu-submenu-lang").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-lang").toggle();
});
$(".Header-bh-menu-desktop-menu-home").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-home").toggle();
});
$(".Header-bh-row-desktop-menu-submenu-home").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-home").toggle();
});
$(".Header-bh-menu-desktop-menu-we").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-we").toggle();
});
$(".Header-bh-row-desktop-menu-submenu-we").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-we").toggle();
});
$(".Header-bh-menu-desktop-menu-news").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-news").toggle();
});
$(".Header-bh-row-desktop-menu-submenu-news").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-news").toggle();
});
$(".Header-bh-menu-desktop-menu-project").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-project").toggle();
});
$(".Header-bh-row-desktop-menu-submenu-project").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-project").toggle();
});
$(".Header-bh-menu-desktop-menu-gets").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-gets").toggle();
});
$(".Header-bh-row-desktop-menu-submenu-gets").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-gets").toggle();
});
$(".Header-bh-menu-desktop-menu-support").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-support").toggle();
});
$(".Header-bh-row-desktop-menu-submenu-support").hover(function () {
    $(".Header-bh-row-desktop-menu-submenu-support").toggle();
});
</script>