.Header-bh {    box-sizing: border-box;     list-style: none; }

#site-logo {
    display: none;
}

/* Menu Panel Dropdown Fix

.menu-panel.drop-down {
    position: absolute;
    top: 80%;
    right: -10px;
}
 */

/* Header Style Start */

.d-header {
   top: 100px; 
}

//Menu item fix

ul, menu, dir {
    list-style-type: none;
}

.Header-bh {
  display: flex;
  position: fixed;
  padding-right: 60px;
  width: 100%;
  background-color: white;
  z-index: 1600;
  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-direction: row;
    position: relative;
    height: 100px;
    &-logo {
      padding-left: 50px;
    }
    &-menu {
      @media screen and(min-width: 1240px){
      display: none;
      }
      &-icon {
        width: 25px;
        height: 25px;
        cursor: pointer;
        background-color: transparent;
        &-div{
        width: 25px;
          height: 4px;
          position: absolute;
          border-radius: 3px;
          display: inline-block;
          background-color: #ce6211;
          &:after, &:before{
            content:"";
            position: absolute;
            width: 100%;
            height: 4px;
            left: 0;
            display: inline-block;
            background-color: #ce6211;
          }
          &:before{
            top: 7px;
          }
          &:after{
            top: -7px;
          }
        }
      }
    }
    &-desktop-menu{
      @media screen and(max-width: 1240px){
        display: none;
      }
      position: relative;
      & a{
        font-family: 'Montserrat', sans-serif;
        color: #575153;
        text-decoration: none;
      }
      & ul{
        height: 100px;
        align-items: center;
        margin: 0;
        display: flex;
        flex-direction: row;
        & li{
          height: 100px;
          line-height: 100px;
          padding-right: 25px;
          font-family: 'Montserrat', sans-serif;
          color: #575153;
          cursor: pointer;
          transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,height 0s,line-height 0s;
          &:hover{
            color: #ce6211;
          }
        }
      }

      &-submenu{
        position: absolute;
        margin-top: 200px;
        background-color: white;
        border-top: 3px solid #ce6211;
        & nav{
          margin: 0;
          display: flex;
          flex-direction: column;
          padding: 0;
          width: 250px;



            & a{
              font-family: 'Montserrat', sans-serif;
              color: #575153;
              line-height: 45px;
              text-decoration: none;
              font-size: 14px;
              font-weight: 400;
              padding: 7px 20px;
              padding-right: 0;
              border-bottom: 1px solid #f2f2f2;
              transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,height 0s,line-height 0s;
            &:hover{
              color: #ce6211;
            }
            }


        }
        &-home{
          display: none;
          margin-left: 100px;

        }
        &-we{
          display: none;
          margin-left: 180px;
        }
        &-news{
          display: none;
          margin-top: 140px;
          margin-left: 225px;
        }
        &-project{
          display: none;
          margin-top: 170px;
          margin-left: 295px;
        }
        &-gets{
          display: none;
          margin-top: 110px;
          margin-left: 510px;
        }
        &-support{
          display: none;
          margin-top: 170px;
          margin-left: 650px;
        }
        &-lang{
          display: none;
          margin-top: 140px;
        }

      }
    }
  }
}
.Nav-bh-container{
  background-color: white;
  position: fixed;
  margin-top: 80px;
  width: 100%;
  overflow: hidden;
  top: -135%;
  transition: all 0.2s ease-in-out;
  &-on{

   top: 0;

  }
  & >ul{
    margin: 0;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    & > li{
      font-family: 'Montserrat', sans-serif;
      color: #575153;
      line-height: 45px;
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #dadada;
      font-size: 16px;
      letter-spacing: 2px;
      height: 45px;
      flex: 1;
      cursor: pointer;
      & span{
        padding: 2px 5px;
        display: inline;
        line-height: 1;
        margin-left: 8px;
        font-size: 10px;
        border: 1px solid transparent;
        background-color: #ce6211;
        color: #ffffff;
      }
      & a{
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #575153;
        &:hover{
          background-color: #ce6211;
          color: #ffffff;
        }
      }
      &>button{
        display: block;
        z-index: 1;
        height: 45px;
        width: 50px;
        right: 70px;
        position: absolute;
        background-color: transparent;
        border: 0;
        outline: none;
        font-size: 16px;
        color: #747474;
        &:hover{
          color:#ce6211;
        }
      }
    }
    & > nav{
      & > ul{
        margin: 0;
        padding: 0;
        & > li{
          font-family: 'Montserrat', sans-serif;
          color: #575153;
          line-height: 45px;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid #dadada;
          font-size: 16px;
          letter-spacing: 2px;
          height: 45px;
          flex: 1;
          cursor: pointer;

          & a{
            width: 100%;
            text-align: center;
            text-decoration: none;
            color: #575153;
            &:hover{
              background-color: #ce6211;
              color: #ffffff;
            }
          }
        }

      }
    }
  }
  &-commuity{
    background-color: #ce6211;
    & > a {
      color: #fff !important;
    }
  }
  &-lang{
    & img{
      margin-right: 5px;
    }
  }
  &-home-menu-home{
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;

    &-on{
      height: 225px;
    }
  }
  &-we-menu-we{
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    &-on{

      height: 225px;
    }
  }
  &-news-menu-news{
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    &-on{
      height: 135px;
    }
  }
  &-project-menu-project{
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    &-on{
      height: 180px;
    }
  }
  &-getsup-menu-getsup{
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    &-on{
      height: 90px;
    }
  }
  &-support-menu-support{
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    &-on{
      height: 180px;
    }
  }
  &-lang-menu-lang{
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    & img{
      margin-right: 5px;
    }
    &-on{
      height: 90px;
    }
  }
}
.Header-bh-menu-desktop-menu-lock-icon{
  font-size: 18px;
  color: #575153;
  border: 1px solid #575153;
  padding: 15px 13px 15px 16px!important;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out,height 0s,line-height 0s;
  &:hover{
    border-color:#ce6211;
    color: #ce6211;
  }

}
.Header-bh-menu-desktop-menu-support{
  & span {
    background: #ce6211;
    text-transform: uppercase;
    color: #ffffff;
    padding: 13px 29px;
  }
}

/* Header Style End*/


.open .grippie {
    background: #ce6211;
}
/* SORUN MU
.forum-hesader {
    padding: 0;
    background-color: transparent;
    width: 100%;
    z-index: 1200;
    position: fixed;
}
*/

/*
.d-header {
    position: fixed;
    width: 100%;
    //padding: 0 60px 0 40px;
    box-shadow: none;
    //height: 140px;
    top: 60px;
}
*/

/*
.d-header #site-logo {
    max-height: 14px;
    height: auto;
    width: auto;
    padding: 31px 0 0 0;
}
*/

/* KAPATTIK
#site-logo {
    display: none;
}
*/

/* SORUN

.d-header-icons {
    text-align: center;
    margin: 40px 80px 0 0;
}

*/


/* SORUN
.wrap {
    max-width: 100%;
    padding: 0;
}
*/

.btn-flat .d-icon {
    opacity: 1;
}

.headico {
    width: 1.15em;
    height: 1.15em;
    padding: 0.2143em;
    font-size: 2.25em;
    line-height: .65;
    color: #ce6211;
}

.headicolast {
    color: #000 !important;
    position: fixed;
    left: 0;
    bottom: 0;
}

.d-header-icons .icon {
    color: #ce6211;
    width: 2.7em;
}

.headico:hover,
.headico:focus,
.d-header-icons .icon:hover,
.d-header-icons .icon:focus {
    color: #575153;
    background-color: transparent;
}

/*
.menu-panel.drop-down {
    position: absolute;
    right: 50px;
    top: 84px !important;
}
*/

.badge-notification,
.badge-group,
img.avatar {
    border-radius: 0;
}

.badge-notification {
    //padding: 3px 8px;
}

.unread-private-messages {
    color: #fff;
    background: #ce6211;
}

.d-header button.login-button {
    //padding: 12px 20px;
    background: #ce6211;
    color: #FFF;
    //margin-top: 27px;
    //margin-right: 40px;
}

.d-header .login-button .fa,
.d-header button.sign-up-button .fa {
    //margin-right: 7px;
}


.btn {
    //padding: 12px 20px;
    background: #ce6211;
    color: #FFF;
    text-transform: uppercase;
}

.btn:hover {
    background: #575153 !important;
    color: #FFF;
}

.btn[href] {
    color: #FFF;
}


.nav-pills>li.active>a, .nav-pills>li>a.active {
    background-color: #ce6211;
}

a:visited,
a {
    color: #ce6211;
}

a:hover {
    color: #575153;
}

#simple-container {
    border-radius: 0;
    //margin: 30px auto;
}

.user-menu .notifications .fa,
.user-menu .notifications li span,
.user-menu .notifications li {
    background-color: #575153;
    color: #ce6211;
}

.btn-flat:hover,
.user-menu .notifications .fa:hover,
.user-menu .notifications li span:hover,
.user-menu .notifications li:hover {
    background-color: #FFF !important;
    color: #575153;
}

.user-menu .notifications li:not(.show-all) i {
    //padding-top: 3px;
}


div.menu-links-header .fa,
div.menu-links-header a {
    color: #ce6211;
}

div.menu-links-header a.user-activity-link:hover,
.fa:hover,
.menu-panel li a:hover, .menu-panel li.heading a:hover
div.menu-links-header .fa:hover,
div.menu-links-header a:hover {
    background-color: #FFF !important;
    color: #575153 !important;
}

/* SORUN
body {
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
    font-size: 16px;
    color: #575153;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
*/

/* Fontlar için geçiçi çözüm düzeltilecek */
body {
    font-family: 'Montserrat';
    font-weight: 400;
    letter-spacing: 1px;
    font-style: normal;
}

.topic-list-main-link a.title, .topic-list .main-link a.title, .latest-topic-list-item .main-link a.title,
.category-list tbody .category h3 a[href] {
    color: #575153;
}

.cooked, .d-editor-preview {
    line-height: 1.7;
}


@keyframes background-fade-highlight {
    0% {
        background-color: #ce6211;
    }

    100% {
        background-color: #ffffff
    }
}

/* FOOTER CUSTOMIZATOIN */

#main-outlet {
    padding-top: 11.8572em;
}

a{
    transition-property: color,background-color,border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
}
a:before{
    transition-property: color,background-color,border-color;
    transition-duration: .2s;
    transition-timing-function: linear;
}
@font-face {
    font-family: 'dasdas';
    src: url($eotfont);
    src: url('font/dasdas.eot?46475670#iefix') format('embedded-opentype'),
         url($woff2font) format('woff2'),
         url($wofffont) format('woff'),
         url($ttffont) format('truetype'),
         url('font/dasdas.svg?46475670#dasdas') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "dasdas";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
   
  .icon-down-dir:before { content: '\e800'; }
  .icon-facebook:before { content: '\f09a'; } 
  .icon-angle-right:before { content: '\f105'; } 
  .icon-facebook-rect:before { content: '\f301'; } 
  .icon-twitter-bird:before { content: '\f303'; } 
  .icon-linkedin-rect:before { content: '\f312'; } 
.fo-bh-menu-column-ul{
    list-style: none;
    padding: 0;
    margin: 0; 
    &>li{
        font-size: 14px;
        border-bottom: 1px solid #fff;
        color: #ce6211;
        & a{
            text-decoration: none; 
             color: #575153;
        }
        & a:hover{
            color: #ce6211!important;
        }
    }
}
.foo-bh-container{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    font-style: normal;
    padding: 15px;
    

    &>ul{
        list-style: none;
    }
}
.fo-bh-colums{
    display: flex;
    &-menu{
        width: 20%;
        line-height: 26px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.fo-bh-menu-column{
    margin-bottom: 23px;
    &>p{
            color: #575153;
    }
}
.fo-bh-widget-title{
    margin: 0 0 8px;
    font-weight: 700!important;
    text-transform: uppercase;
    color: #ce6211;
}
.fo-bh-select-lang{
    width: 15.5em;
    max-width: 100%;

    &-other-lang{
        display: none;
    }
    &>ul{
        margin: 0;
        padding: 0;

    }
    &-item{
        
        color: #ce6211;
        padding: 0;
        margin: 0;
        list-style: none;
        &-a{
             position: relative;
             padding-right: calc(10px + .7em + .7em);
             border: 1px solid #cdcdcd;
             background-color: #fff;
             padding: 5px 10px;
             line-height: 1;
             text-decoration: none;
             display: block;
             text-align: right;
             color: #ce6211;
             & >span{
                 padding-left: 5px;
                 float: left;
                 color: #575153;
             }
        }
        &-img{
            float: left;
            display: inline;
            vertical-align: middle;
            width: 18px;
            height: 12px;
        }
    }
}

.fo-bh-colums-social{
    overflow: hidden;
    &-element{
        display: inline-block;
    }
    &-icon{
    display: inline-block;
    font-size: 25px;
    margin: 0 3.5px 10px;
    background-color: #FFF!important;
    border: 2px solid #ce6211!important;
    padding: 12px!important;
    text-decoration: none;
    color: #ce6211!important;
    text-decoration: none;
    &:hover{
    border: 2px solid #575153!important;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    }
    &-network:hover{
    opacity: 1!important;
    color: #575153!important;
    transition: .2s;
    }
    }
}
.fo-bg-widget-social{
    width: 130px;
    max-height: 130px;
}
.fo-bh-bottom-column{
    border-top: 1px solid #4b4c4d;
    background-color: #ffffff;
    border-color: #ce6211;
    border-top-width: 2px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 13px;
    &-row{
        
        &-copyright-content{
            display: block;
            text-align: center;
            width: 100%;
            & span > a{
                text-decoration: none;
                color: #575153;
            }
            &  span > a:hover{
                color: #ce6211;
            }
            
        }
    }
}
@media all and (max-width: 1024px){
 .fo-bh-colums{
     flex-direction: column;
     justify-content: flex-end;
     align-items: center;
     text-align: center;
 }
 .fo-bh-colums-menu{
     width: auto; 
 }
 .fo-bh-select-lang{
     width: auto;
 }
}


