<div class="foo-bh-container">
         <div class="fo-bh-colums">
             <div class="fo-bh-colums-menu fo-bh-colums-element">
                  <section class="fo-bh-menu-column">
                      <h4 class="fo-bh-widget-title">WIR</h4>
                      <div class="fo-bh-menu-column-1">
                          <ul class="fo-bh-menu-column-ul ">
                              <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/wir/">Unsere Mission</a></li>
                              <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/unser-versprechen/">Unser Versprechen</a></li>
                              <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/unser-team/">Unser Team</a></li>
                          </ul>
                      </div>
                  </section>
                  <section class="fo-bh-menu-column">
                      <h4 class="fo-bh-widget-title">AKTUELLES</h4>
                        <div class="fo-bh-menu-column-2">
                                <ul class="fo-bh-menu-column-ul ">
                                    <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/aktuelles/#uebersicht">Übersicht</a></li>
                                    <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/aktuelles/#socialmediafeeds">Social Media Feeds</a></li>
                                    <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/presse-und-downloadbereich/#downloads">Downloads</a></li>
                                    <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/presse-und-downloadbereich/#presse">Presse</a></li>
                                </ul>
                            </div>
                  </section>
             </div>
             <div class="fo-bh-colums-menu fo-bh-colums-element">
                <section class="fo-bh-menu-column">
                    <h4 class="fo-bh-widget-title">PROJEKTE</h4>
                    <div class="fo-bh-menu-column-3">
                        <ul class="fo-bh-menu-column-ul ">
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/projekte/">Projektübersicht</a></li>
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/personen-info/">Personen</a></li>
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/bildung-info/">Bildung</a></li>
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/forschung-info/">Forschung</a></li>
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/infrastruktur-info/">Infrastruktur</a></li>
                        </ul>
                    </div>
                </section>
                <section class="fo-bh-menu-column">
                    <h4 class="fo-bh-widget-title">FÖRDERUNG</h4>
                    <div class="fo-bh-menu-column-4">
                        <ul class="fo-bh-menu-column-ul ">
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/gefoerdert-werden/">Gefördert werden</a></li>
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/foerdern/">Fördern</a></li>
                        </ul>
                    </div>
                </section>
             </div>
             <div class="fo-bh-colums-menu fo-bh-colums-element">
                <section class="fo-bh-menu-column">
                    <h4 class="fo-bh-widget-title">NEUESTE BEITRÄGE</h4>
                    <div class="fo-bh-menu-column-5">
                        <ul class="fo-bh-menu-column-ul ">
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/allgemein/persoenliche-worte/">Persönliche Worte des Gründers</a></li>
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/forschung/das-hotelzimmer-der-nahen-zukunft/">Das Hotelzimmer der nahen Zukunft</a></li>
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/allgemein/wir-stellen-vor-gastgeber-sein/">Wir stellen vor: Gastgeber sein</a></li>
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/allgemein/was-ist-eine-ggmbh/">Was ist eine gGmbH?</a></li>
                        </ul>
                    </div>
                </section>
                <section class="fo-bh-menu-column">
                    <h4 class="fo-bh-widget-title">RECHTLICHES</h4>
                    <div class="fo-bh-menu-column-6">
                        <ul class="fo-bh-menu-column-ul ">
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/datenschutz/">Datenschutz</a></li>
                            <li class="icon-angle-right"><a href="https://friedrich.hospitality.foundation/impressum/">Impressum</a></li>
                        </ul>
                    </div>
                </section>
             </div>
             <div class="fo-bh-colums-menu fo-bh-colums-element">
                <!-- Disable Language Section
                <section class="fo-bh-menu-column">
                        <h4 class="fo-bh-widget-title">SPRACHE</h4>
                        <div class="fo-bh-select-lang">
                            <ul>
                                <li class="fo-bh-select-lang-item fo-bh-select-lang-item-first fo-bh-select-lang-de">
                                    <a href="#" class="fo-bh-select-lang-item-a icon-down-dir">
                                        <img class="fo-bh-select-lang-item-img" src="img/de.png" alt="">
                                        <span>Deutsch</span>
                                    </a>
                                    
                                </li>
                                <div class="fo-bh-select-lang-other-lang">
                                        <li class="fo-bh-select-lang-item fo-bh-select-lang-en ">
                                                <a href="#" class="fo-bh-select-lang-item-a icon-down-dir">
                                                <img class="fo-bh-select-lang-item-img" src="img/en.png" alt="">
                                                <span>English</span>
                                            </a>
                                        </li>
                                        <li class="fo-bh-select-lang-item fo-bh-select-lang-pt">
                                                <a href="#" class="fo-bh-select-lang-item-a icon-down-dir">
                                                <img class="fo-bh-select-lang-item-img" src="img/pt-pt.png" alt="">
                                                <span>Portugues</span>
                                            </a>
                                        </li>
                                </div>
                            </ul>
                        </div>
                </section> -->
                <section class="fo-bh-menu-column ">
                        <h4 class="fo-bh-widget-title">FÖRDERKONTODETAILS</h4>
                        <p style="font-size:14px;">Name: Friedrich Hospitality Foundation gGmbH<br>
                            BIC: GENODES1UTV<br>
                            IBAN: DE71 6006 0396 0500 5000 02<br></p>
                </section>
             </div>
             <div class="fo-bh-colums-menu fo-bh-colums-element">
                <section class="fo-bh-menu-column">
                        <h4 class="fo-bh-widget-title">SOCIAL MEDIA</h4>
                        <div class="fo-bh-colums-social">
                            <div class="fo-bh-social-columns-social-element">
                                    <a class="fo-bh-colums-social-icon fo-bh-colums-social-icon-network icon-facebook" href=""></a>
                                    <a class="fo-bh-colums-social-icon fo-bh-colums-social-icon-network icon-twitter-bird" href=""></a>
                                    <a class="fo-bh-colums-social-icon fo-bh-colums-social-icon-network icon-linkedin-rect" href=""></a>
                            </div>
                        </div>
                </section>
                <section class="fo-bh-menu-column">
                        <h4 class="fo-bh-widget-title">FOLGEN SIE UNS!</h4>
                        <div class="fo-bg-widget-social">
                            <div class="fb-page" data-href="https://www.facebook.com/FHF.World/" data-width="150" data-height="100" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/FHF.World/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/FHF.World/">Friedrich Hospitality Foundation</a></blockquote></div>
                        </div>
                </section>
             </div>
         </div> 
     </div>
     <div class="fo-bh-bottom-column">
         <div class="fo-bh-bottom-column-row">
             <div class="fo-bh-bottom-column-row-copyright-content">
                <span style="font-family: 'Montserrat'; letter-spacing: 1px; font-weight: 400;">Copyright 2018 - Friedrich Hospitality Foundation gGmbH - All Rights Reserved  - <a href="https://friedrich.hospitality.foundation/datenschutz/">Datenschutz</a> - <a href="https://friedrich.hospitality.foundation/impressum/">Impressum</a>	</span>
             </div>
         </div>
     </div>