<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<script type="text/discourse-plugin" version="0.4">
api.decorateWidget('header-icons:before', helper => {
    return helper.h('li', [
        helper.h('a#ticket', {
            href:'https://community.friedrich.hospitality.foundation/admin/customize/themes/3/common/scss/edit',
            title: ''
        }, helper.h('i.fa.fa-code.ticket.headico.headicolast')),
        helper.h('a#home', {
            href:'https://friedrich.hospitality.foundation/support/',
            title: 'HOME'
        }, helper.h('i.fa.fa-home.home.headico')),
        helper.h('a#FAQ', {
            href:'https://community.friedrich.hospitality.foundation/faq/',
            title: 'FAQ'
        }, helper.h('i.fa.fa-question.faq.headico'))
    ]);
});
</script>

<!-- Start of fhf Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=6a51c814-1259-4bb7-8088-e23d07b6024f"> </script>
<!-- End of fhf Zendesk Widget script -->