<div class="Header-bh">
    <div class="Header-bh-row">
        <div class="Header-bh-row-logo">
            <a href="https://community.friedrich.hospitality.foundation/">
            <img src="/uploads/hospitality/original/1X/47fde440433b05014949321f9ee938903efdfb44.jpeg" width="150px" alt="">
            </a>
        </div>

        <div class="Header-bh-row-desktop-menu">
            <ul>
                <li class="Header-bh-menu-desktop-menu-lang"><a href=""><img style="" src="/uploads/hospitality/original/1X/4355071ba9d626992134df358d2bd30dd31e1519.png" alt="">English</a></li>
                <div class="Header-bh-row-desktop-menu-submenu Header-bh-row-desktop-menu-submenu-lang">
                    <nav>
                        <a href=""><img src="/uploads/hospitality/original/1X/f0f345de70c11845685e781607c77dd9d27689bc.png" alt="">Deutsch</a>
                        <a href=""><img src="/uploads/hospitality/original/1X/6f5e8457adf1cbec4064e0c07b92c965ba22fc89.png" alt="">Français</a>
                        <a href=""><img src="/uploads/hospitality/original/1X/492d0308ca40c0dff6c51a1f3c96025151a5399d.png" alt="">Português</a>
                    </nav>
                </div>
                <li class="Header-bh-menu-desktop-menu-home">Home</li>
                <div class="Header-bh-row-desktop-menu-submenu Header-bh-row-desktop-menu-submenu-home">
                    <nav>
                        <a href="https://friedrich.hospitality.foundation/en/#fhf">FHF</a>
                        <a href="https://friedrich.hospitality.foundation/en/#foerderbereiche">Commitment</a>
                        <a href="https://friedrich.hospitality.foundation/en/#projekte">Projects</a>
                        <a href="https://friedrich.hospitality.foundation/en/#aktuelles">News</a>
                        <a href="https://friedrich.hospitality.foundation/en/#kontakt">Contact</a>
                    </nav>
                </div>
                <li class="Header-bh-menu-desktop-menu-we">We</li>
                <div class="Header-bh-row-desktop-menu-submenu Header-bh-row-desktop-menu-submenu-we">
                    <nav>
                        <a href="https://friedrich.hospitality.foundation/en/our-mission/#mission">Our mission</a>
                        <a href="https://friedrich.hospitality.foundation/en/our-mission/#werte">Our principles</a>
                        <a href="https://friedrich.hospitality.foundation/en/our-mission/#versprechen">Our promise</a>
                        <a href="https://friedrich.hospitality.foundation/en/our-mission/#verlaesslichkeit">Our reliability</a>
                        <a href="https://friedrich.hospitality.foundation/en/our-mission/#team">Our team</a>
                    </nav>
                </div>
                <li class="Header-bh-menu-desktop-menu-news">News</li>
                <div class="Header-bh-row-desktop-menu-submenu Header-bh-row-desktop-menu-submenu-news">
                    <nav>
                        <a href="https://friedrich.hospitality.foundation/en/news/#overview">News Blog</a>
                        <a href="https://friedrich.hospitality.foundation/en/news/#socialmediafeeds">Social Media Feeds</a>
                        <a href="https://friedrich.hospitality.foundation/en/press-and-download-area/">Press & Downloads</a>
                    </nav>
                </div>
                <li class="Header-bh-menu-desktop-menu-project">Projects</li>
                <div class="Header-bh-row-desktop-menu-submenu Header-bh-row-desktop-menu-submenu-project">
                    <nav>
                         <a href="https://friedrich.hospitality.foundation/en/people-information/">Peopleg</a>
                         <a href="https://friedrich.hospitality.foundation/en/education-information/">Education</a>
                         <a href="https://friedrich.hospitality.foundation/en/research-information-2/">Research</a>
                         <a href="https://friedrich.hospitality.foundation/en/infrastructure-information/">Infrastructure</a>
                    </nav>
                </div>
                <li style="color: #ce6211;">Community</li>
                <li class="Header-bh-menu-desktop-menu-gets">Get Supported</li>
                <div class="Header-bh-row-desktop-menu-submenu Header-bh-row-desktop-menu-submenu-gets">
                    <nav>
                       <a href="https://friedrich.hospitality.foundation/en/get-supported/#antragstellen">Make an application</a>
                        <a href="https://friedrich.hospitality.foundation/en/get-supported/#expect">What we expect</a>
                    </nav>
                </div>
                <li class="Header-bh-menu-desktop-menu-lock"><span class="Header-bh-menu-desktop-menu-lock-icon fas fa-lock"></span></li>
                <li class="Header-bh-menu-desktop-menu-support"><span>SUPPORT</span></li>
                <div class="Header-bh-row-desktop-menu-submenu Header-bh-row-desktop-menu-submenu-support">
                    <nav>
                        <a href="https://friedrich.hospitality.foundation/en/support/">Support</a>
                        <a href="https://friedrich.hospitality.foundation/en/support/#spendenbescheinigung">Donation Certificate</a>
                        <a href="https://friedrich.hospitality.foundation/en/support/#partner">Corporate Partners</a>
                        <a href="https://friedrich.hospitality.foundation/en/support/#honorawards">Honor Awards</a>
                    </nav>
                </div>
            </ul>

    </div>
        <div class="Header-bh-row-menu">
            <div class="Header-bh-row-menu-icon">
                <div class="Header-bh-row-menu-icon-div"></div>
            </div>
        </div>

</div>
    <nav class="Nav-bh-container">
        <ul>
            <li class="Nav-bh-container-home"><a href="">Home</a><button class="Nav-bh-container-icon Nav-bh-container-icon-home fas fa-chevron-down"></button></li>
            <nav class="Nav-bh-container-home-menu-home">
                <ul>
                    <li><a href="https://friedrich.hospitality.foundation/en/#fhf">FHF</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/#foerderbereiche">Commitment</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/#projekte">Projects</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/#aktuelles">News</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/#kontakt">Contact</a></li>
                </ul>
            </nav>
            <li class="Nav-bh-container-we"><a href="https://friedrich.hospitality.foundation/en/we/">We</a><button class="Nav-bh-container-icon Nav-bh-container-icon-we fas fa-chevron-down"></button></li>
            <nav class="Nav-bh-container-we-menu-we">
                <ul>
                    <li><a href="https://friedrich.hospitality.foundation/en/our-mission/#mission">Our mission</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/our-mission/#werte">Our principles</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/our-mission/#versprechen">Our promise</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/our-mission/#verlaesslichkeit">Our reliability</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/our-mission/#team">Our team</a></li>
                </ul>
            </nav>
            <li class="Nav-bh-container-news"><a href="">News</a><button class="Nav-bh-container-icon Nav-bh-container-icon-news fas fa-chevron-down"></button></li>
            <nav class="Nav-bh-container-news-menu-news">
                <ul>
                    <li><a href="https://friedrich.hospitality.foundation/en/news/#overview">News Blog</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/news/#socialmediafeeds">Social Media Feeds</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/press-and-download-area/">Press & Downloads</a></li>
                </ul>
            </nav>
            <li class="Nav-bh-container-projects"><a href="https://friedrich.hospitality.foundation/en/projects/">Projects</a><button class="Nav-bh-container-icon Nav-bh-container-icon-project fas fa-chevron-down"></button></li>
            <nav class="Nav-bh-container-project-menu-project">
                <ul>
                    <li><a href="https://friedrich.hospitality.foundation/en/people-information/">Peopleg</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/education-information/">Education</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/research-information-2/">Research</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/infrastructure-information/">Infrastructure</a></li>
                </ul>
            </nav>
            <li class="Nav-bh-container-commuity"><a href="">Community</a></li>
            <li class="Nav-bh-container-getsupport"><a href="https://friedrich.hospitality.foundation/en/get-supported-2/">Get Supported</a><button class="Nav-bh-container-icon Nav-bh-container-icon-getsup fas fa-chevron-down"></button></li>
            <nav class="Nav-bh-container-getsup-menu-getsup">
                <ul>
                    <li><a href="https://friedrich.hospitality.foundation/en/get-supported/#antragstellen">Make an application</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/get-supported/#expect">What we expect</a></li>
                </ul>
            </nav>
            <li class="Nav-bh-container-support"><a href="https://friedrich.hospitality.foundation/en/support/">Support</a><button class="Nav-bh-container-icon Nav-bh-container-icon-support fas fa-chevron-down"></button></li>
            <nav class="Nav-bh-container-support-menu-support">
                <ul>
                    <li><a href="https://friedrich.hospitality.foundation/en/support/">Support</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/support/#spendenbescheinigung">Donation Certificate</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/support/#partner">Corporate Partners</a></li>
                    <li><a href="https://friedrich.hospitality.foundation/en/support/#honorawards">Honor Awards</a></li>
                </ul>
            </nav>
            <li class="Nav-bh-container-login"><a href="">Login <span>Account</span></a></li>
            <li class="Nav-bh-container-lang"><a href=""><img src="img/en.png" alt="">English</a><button class="Nav-bh-container-icon Nav-bh-container-icon-lang  fas fa-chevron-down"></button></li>
            <nav class="Nav-bh-container-lang-menu-lang">
                <ul>
                    <li><a href=""><img src="img/de.png" alt="">Deutsch</a></li>
                    <li><a href=""><img src="img/pt-pt.png" alt="">Português</a></li>
                </ul>
            </nav>
        </ul>
    </nav>
</div>